
.header{
    display: flex;
    justify-content: center;
    padding: 15px 150px;
    
}
.container_header{
    padding: 10px;
    width: 100vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background: #315fa283;
    border-radius: 17px;
}

.logo{
    font-size: 60px;
    font-weight: 900;
}

.serchForm{
    display: flex;
    border-radius: 40px;
    padding: 0 10px;
    gap: 10px;
    background: #344a7761;
    
}

.userForm{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 0 20px;
    
    
}

