
.header{
    display: flex;
    justify-content: center;
    padding: 15px 150px;
    
}
.container_header{
    padding: 10px;
    width: 100vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background: #315fa283;
    border-radius: 17px;
}

.logo{
    font-size: 60px;
    font-weight: 900;
}

.serchForm{
    display: flex;
    border-radius: 15px;
    padding: 5px 10px;
    gap: 10px;
    input{
        width: 500px;
        height: 40px;
        border-radius: 15px;
        background: #fff;
        font-size: 25px;
        padding: 5px;
    }
    button{
        color: #4c32be;
        font-size: 30px;


    }
}

.userForm{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 0 20px;
    .like{
        width: 50px;
        height: 50px;
        background: #fcfcfc;
        border-radius: 17px;
        text-align: center;
    }
    .cart{
        width: 50px;
        height: 50px;
        background: #fcfcfc;
        border-radius: 17px;
        text-align: center;
    }
    .modal{
        width: 50px;
        height: 50px;
        background: #fcfcfc;
        border-radius: 17px;
        text-align: center;
        display: block;
    }
    .modal.active{
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #8d8d8d;
        
        justify-content: center;
        align-items: center;
        text-align: center;

    }
}

